# dependencies
node_modules/

# local env files
.env
.env.*
!.env.example
!.env*.example

# Expo / build output
.expo/
dist/
web-build/
.expo-shared/

# TypeScript
*.tsbuildinfo

# generated native folders
android/
ios/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# testing
coverage/
playwright-report/
test-results/

# operating system
.DS_Store
